<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container container-fluid">
    <a class="navbar-brand" href="#">Polls App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'polls:index' %}" aria-current="page">Home</a>
        </li>
        {% if request.user.is_staff %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'auth:users' %}">Users</a>
            </li>
        {% endif %}
        {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'polls:new' %}">New Poll</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'auth:profile' request.user.profile.id %}">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'auth:logout' %}">Log Out</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'auth:login' %}">Log In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'auth:reg' %}">Register</a>
            </li>
        {% endif %}
          <form class="d-flex" action="{% url 'polls:search' %}" method="get">
            <input type="text" class="form-control me-2" name="query" placeholder="search" value="{{ query }}" />
            <input type="submit" class="btn btn-outline-success" value="Search" />
        </form>
      </ul>
    </div>
  </div>
</nav>