{%  extends 'authentication/base.html' %}
{% block Title %}Password Reset{% endblock %}
{% block Body %}
    <form method="post">
        <fieldset>
            <legend>Password Reset</legend>
            <span>Enter your email address and we'll send you a link to reset your password.</span>
            <br>
            {% csrf_token %}
            {% for message in messages %}
                <p style="color: turquoise">{{ message }}</p>
            {% endfor %}
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
        </fieldset>
            <input type="submit" class="btn btn-primary" value="Reset my Password">
    </form>
{% endblock %}