{% extends 'polls/base.html' %}
{% block Title %}User Profile{% endblock %}
{% block Body %}
    <strong>User Name:</strong>{{ profile.user.username }}
    <br>
    <strong>User Email:</strong>{{ profile.user.email }}
    <br>
    <!-- first name -->
    <strong>First Name:</strong>{{ profile.first_name }}
    <br>
    <!-- last name -->
    <strong>Last Name:</strong>{{ profile.last_name }}
    <br>
    <!-- profile picture -->
    <strong>Profile Picture:</strong><img src="{% if profile.picture %}{{ profile.picture.url }}{% else %}https://zipmex.com/static/d1af016df3c4adadee8d863e54e82331/1bbe7/Twitter-NFT-profile.jpg{% endif %}" alt="Profile Picture" height="100" >
    <br>
    <!-- bio -->
    <strong>Bio:</strong>{{ profile.bio }}
{% endblock %}